@model Restaurant.Models.AboutModel


@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!-- Adding own properties from AboutModel-->
<h3>@Model.Name</h3>

<p>Use this area to provide additional information.</p>

<div>Locaton: @Model.Location</div>
